.footer {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: #ffffff;
  padding: 50px 20px 20px 20px;
  font-family: "Arial", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-logo h2 {
  margin-bottom: 10px;
  color: #38bdf8;
  font-size: 24px;
}

.footer-logo p {
  font-size: 14px;
  color: #cbd5e1;
  max-width: 250px;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.link-section h4 {
  margin-bottom: 12px;
  font-size: 16px;
  color: #ffffff;
}

.link-section ul {
  list-style: none;
  padding: 0;
}

.link-section li {
  margin-bottom: 8px;
}

.link-section a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}

.link-section a:hover {
  color: #38bdf8;
}

.footer-social h4 {
  margin-bottom: 12px;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #1e293b;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s;
  font-size: 16px;
}

.social-icons a:hover {
  background-color: #38bdf8;
  color: #0f172a;
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #94a3b8;
  border-top: 1px solid #334155;
  padding-top: 15px;
}

/* Responsif */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 25px;
  }

  .footer-logo p {
    max-width: 100%;
    text-align: justify;
  }
  .link-section{
    text-align: justify;
  }
}
