/* HERO WRAPPER */
.hero {
  background: linear-gradient(135deg, #3447d1, #1d2f8d);
  color: #fff;
  padding: 100px 0 80px;
  position: relative;
  overflow: hidden;
}

/* GRID */
.container {
  width: 85%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.sub {
  font-size: 13px;
  letter-spacing: 3px;
  opacity: 0.85;
}

h1 {
  font-size: 54px;
  font-weight: 800;
  line-height: 1.2;
  margin: 12px 0;
}

h1 span {
  color: #ffd325;
  font-size: 40px;
}

.desc {
  max-width: 440px;
  font-size: 15px;
  line-height: 1.55;
  margin: 20px 0 35px;
  opacity: 0.9;
}

/* BUTTON */
.btn-group {
  display: flex;
  gap: 18px;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn.primary {
  background: #fff;
  color: #1d2f8d;
}

.btn.primary:hover {
  transform: translateY(-3px);
}

.btn.outline {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.btn.outline:hover {
  background: #fff;
  color: #1d2f8d;
}

/* IMAGE */
.img-box img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  height: 430px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.28);
}

/* WAVE */
.wave-wrap {
  position: absolute;

  left: 0;
  width: 100%;
}

.wave-wrap svg {
  width: 100%;
  height: 85px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* RESPONSIVE */
@media (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .desc {
    margin: auto;
  }

  .btn-group {
    justify-content: center;
  }

  .img-box img {
    height: 330px;
  }

  .sub {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.9rem;
  }
  h1 span {
    font-size: 30px;
  }
}

