.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #f1f5f9;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 4%;
}

.marquee {
  display: flex;
  width: max-content;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.marquee img {
  width: 120px;
  margin-right: 40px;
}

/* Animasi arah kiri ke kanan */
.marquee-left {
  animation: marqueeLeft 20s linear infinite;
}

/* Animasi arah kanan ke kiri */
.marquee-right {
  animation: marqueeRight 20s linear infinite;
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .marquee img {
    width: 80px;
    margin-right: 20px;
  }
}
