/* ============ NAVBAR ============ */
.navbar {
  width: 100%;
  background: #ffffff;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: oklch(68.5% 0.169 237.323);
}

/* Menu Links Desktop */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* ============ MOBILE ============ */
.nav-menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  z-index: 1001; /* FIX 1: icon selalu di atas */
  position: relative;
}

@media (max-width: 768px) {
  .nav-menu-icon {
    display: block;
    color: oklch(68.5% 0.169 237.323);
  }

  /* Navbar slide */
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background: #fffcfc;
    flex-direction: column;
    padding-top: 80px;
    gap: 25px;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 1000; /* FIX 2: jangan nutup icon */
  }

  .nav-links.active {
    right: 0;
  }
}
